ansible-deployment/
config/nodepool-launcher/*
!config/nodepool-launcher/*.sample
config/zuul-scheduler/*
!config/zuul-scheduler/*.sample
config/zuul-merger/*
!config/zuul-merger/*.sample
config/zuul-executor/*
!config/zuul-executor/*.sample
config/zuul-web/*
!config/zuul-web/*.sample
