clouds:
  {% for cloud in NODEPOOL_CLOUDS -%}
  {{ cloud.name }}:
      auth:
        auth_url: {{ cloud.auth_url }}
        project_name: {{ cloud.project_name }}
        username: {{ cloud.username }}
        password: {{ cloud.password }}
      region: {{ cloud.region }}
  {%- endfor %}
