zookeeper-servers:
  - host: zookeeper
    port: 2181

labels:
  {% for label in NODEPOOL_LABELS -%}
  - name: {{ label.name }}
    min-ready: {{ label.min_ready }}
  {%- endfor %}

providers:
  {% for provider in NODEPOOL_PROVIDERS -%}
  - name: {{ provider.name }}
    cloud: {{ provider.cloud }}
    cloud-images:
      {% for image in provider.cloud_images -%}
      - name: {{ image.name }}
      {%- endfor %}

    pools:
      {% for pool in provider.pools -%}
      - name: {{ pool.name }}
        max-servers: {{ pool.max_servers }}
        networks:
          {% for network in pool.networks -%}
          - {{ network }}
          {%- endfor %}

        labels:
          {% for label in pool.labels -%}
          - name: {{ label.name }}
            cloud-image: {{ label.cloud_image }}
            flavor-name: {{ label.flavor_name }}
            key-name: {{ label.key_name }}
          {%- endfor %}
      {%- endfor %}
  {%- endfor %}
